# ${RELATIVE_FILEPATH}
# @author: ${USER}
# @created: ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}
# @modified: ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}

#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""
${1:Module description}
"""

__version__ = "0.1.0"

