#!/bin/bash
# ${RELATIVE_FILEPATH}
# @author: ${USER}
# @created: ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}
# @modified: ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}

# Description: ${1:Script description}

set -euo pipefail

